<div>
    <input type="email" id="email" @bind-value="Email" />
    <input type="password" id="password" @bind-value="Password" />
    <button type="button" id="authenticate" @onclick="OnAuthenticateClickedAsync">Authenticate</button>
</div>
